@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    position: relative;
    overflow-x: hidden;
}


/* HEADER >>>> START */
header {
    /* background-color: #fff; */
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    box-sizing: border-box;
}

.header__burger {
    width: 30px;
    color: red;
}

.header__burger:hover {
    fill: #cc0202;
}

/* CIRCLE >>>> START */
.circle__one {
    width: 70vw;
    height: 70vw;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.08);
    left: -450px;
    top: -7%;
}

.circle__two {
    width: 41vw;
    height: 41vw;
    color: #fff;
    border-radius: 100%;
    position: absolute;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.08);
    right: -10%;
    top: -10%;
}

.circle__three {
    width: 49vw;
    height: 49vw;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.08);
    right: -32%;
    top: 12%;
}

/* NAV >>>> START */
.nav {
    list-style: none;
    display: flex;
}

.nav__link {
    text-decoration: none;
    padding: 10px 20px;
    color: #000;
}

.nav__link:hover {
    color: rgb(255, 0, 46);
}

/* HERO >>>> START */
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero__row {
    letter-spacing: -1px;
    position: absolute;
    top: 60%;
    transform: translate(0, -70%);
}

.hero__name {
    color: rgb(255, 0, 46);
    font-size: 144px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.hero__title {
    color: #000;
    font-size: 104px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.hero__text {
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 30px;
    max-width: 350px;
    color: rgb(69, 69, 69);
    padding: 30px 0 0 50px;
}

/* CONTAINER >>>> START */
.container {
    max-width: 1400px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
}


/* TRIPLE >>>> START */
.triple {
    width: 100%;
    padding: 100px 0 200px;
    background-color: #fff;
}

.triple__intro {
    max-width: 534px;
    width: 100%;
}

.triple__header {
    font-size: 75px;
    width: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: -.5px;
}

.triple__subtext {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3.8px;
    margin-bottom: 20px;
}

.triple__row {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.triple__col {
    width: 29.5%;
}

.triple__title {
    font-size: 22px;
    font-weight: 600;
}


.triple__text {
    font-size: 18px;
    line-height: 30px;
    color: rgb(69, 69, 69);
}




/* SPACER >>>> START */
.spacer {
    height: 100px;
    background-color: #000;
}

/* TRIPLE LIST >>>> START */
.tripleList {
    width: 100%;
    padding: 100px 0;
    background-color: #fff;
}

.tripleList__intro {
    max-width: 534px;
    width: 100%;
}

.tripleList__header {
    font-size: 75px;
    width: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: -.5px;
}

.tripleList__subtext {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3.8px;
    margin-bottom: 20px;
}

.tripleList__row {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.tripleList__col {
    width: 29.5%;
}

.tripleList__title {
    font-size: 26px;
    font-weight: 500;
    padding-top: 15px;
}


.tripleList__text {
    font-size: 18px;
    line-height: 30px;
    color: rgb(102, 102, 102);
}

.far {
    color: rgb(255, 0, 46);
    font-size: 40px;
}

.fas {
    color: rgb(255, 0, 46);
    font-size: 40px;
}

.fab {
    color: rgb(255, 0, 46);
    font-size: 40px;
}

.tripleList__iconWrap {
    display: inline-flex;
    padding: 25px 28px;
    border-radius: 50%;
    box-shadow: 0 6px 24px -2px rgba(119, 139, 165, 0.2);

}

.triple__icon {
    max-width: 40px;
}


.tripleList__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tipleList__item {
    font-size: 18px;
    padding: 10px 0;
    
}

/* START >>>> PROJECTS */
.projects {
    padding: 100px 0;
    width: 100%;
}
.projects__header {
    font-size: 75px;
    width: 100%;
    margin: 0;
    padding: 0;
    letter-spacing: -.5px;
}

.projects__subhead {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3.8px;
    margin-bottom: 20px;
}

.projects__subtext {
    font-size: 19px;
    color: #555;
}

.projects__projects {
    padding: 100px 0;
}

.projects__project {
    display: flex;
    border: 1px solid rgb(218, 218, 218);
    transition: all .3s ease-in-out;
    margin-bottom: 80px;
}

.projects__project:hover {
    border:1px solid rgb(238, 238, 238);
    box-shadow: 0 12px 24px -2px rgba(119, 139, 165, 0.2);
    transform:translateY(-7px);
}


.projects__thumb {
    width: 54%;
    height: 480px;
    overflow: hidden;
    background-image: url("img/sweater.jpg");
    background-size: cover;
    background-position: 50% 50%;
}


.projects__thumb--two {
    width: 54%;
    height: 480px;
    overflow: hidden;
    background-image: url("img/color.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.projects__thumb--three {
    width: 54%;
    height: 480px;
    overflow: hidden;
    background-image: url("img/splash.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.projects__image {
    max-width: 100%;
}

.projects__details {
    width: 46%;
    text-decoration: none;
    color: #000;
    box-sizing: border-box;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects__projectSubtext {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3.8px;
    margin: 0;
    padding: 0;
}

.projects__projectTitle {
    font-size: 52px;
    margin-top: 40px;
    margin-bottom: 25px;
}

.projects__btn {
    display: flex;
    align-content: center;
}

.projects__view {
    font-size: 18px;
    font-weight: 500;
    align-self: center;
}

.projects__arrow {
    align-self: center;
    margin-left: 20px;

}

.arrowRight {
    color: #000;
    transition: all .3s ease-in-out;
}

.projects__project:hover .arrowRight {
    color:rgb(255, 0, 46);
}

/* MEDIA QUERIES >>> */
@media (max-width: 1200px) {
    .hero__name {
        font-size: 90px;
    }

    .hero__title {
        font-size: 50px;
    }

    /* section headers */
    .triple__header {
        font-size: 55px;
    }

    .tripleList__header {
        font-size: 55px;
        max-width: 400px;
    }

    .projects__header {
        font-size: 55px;
    }

    .triple__text {
        font-size: 16px;
        line-height: 27px;
    }

    .tripleList__text {
        font-size: 16px;
        line-height: 27px;
    }

    .tipleList__item {
        font-size: 16px;
    }

    .projects__subtext {
        font-size: 17px;
    }

    .projects__thumb {
        height: 360px;
    }
}

@media (max-width: 1000px) {
    .triple__row {
        flex-wrap: wrap;
    }

    .triple__col {
        width: 45%;
    }

    .container {
        max-width: 750px;
    }

    .tripleList__row {
        flex-wrap: wrap;
    }

    .tripleList__col {
        width: 45%;
        margin-bottom: 6%;
    }

    .projects__projects {
        padding: 50px 0;
    }

    .projects__project {
        flex-direction: column;
    }

    .projects__thumb {
        width: 100%;
    }

    .projects__projectTitle {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .projects__details {
        width: 100%;
        padding: 40px 40px 30px;
    }

    .projects__projectTitle {
        margin-top: 20px;
    }
}

@media (max-width: 750px) {
    .container {
        max-width: 540px;
    }
    .hero__name {
        font-size: 60px;
    }

    .hero__title {
        font-size: 35px;
    }

    /* section headers */
    /* .triple__header {
        font-size: 35px;
    }

    .tripleList__header {
        font-size: 35px;
        max-width: 400px;
    }

    .projects__header {
        font-size: 35px;
    } */

    .hero__text {
        padding: 30px 0 0;
    }

    .triple__col {
        width: 100%;
    }

   
    .tripleList__col {
        width: 100%;
        margin-bottom: 6%;
    }

    
}